<%- include('../parts/layout-start', { title: title }) %>

<p>Пожалуйста, <a href="/api/user/login"> авторизуйтесь </a> или  <a href="/api/user/signup"> зарегистрируйтесь </a></p>

<%- include('../parts/layout-end') %>
